<a href="https://colab.research.google.com/github/tanu-007/python-basic-assignment-1/blob/main/ASSIGNMENT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bool(True)

True

2. What are the three different types of Boolean operators?

Answer:

The three different types of Boolean operators are:-

i. Relational operators such as ==, !=, >, >=, <, <=

ii. Logical operators such as and, or.

iii. Identity operators such as is, is not.

1.What are the two values of the Boolean data type? How do you write them?

Answer:

Boolean data type (bool) consisting of two constants, True and False. 

Boolean True value is non-zero, non-null
and non-empty. 

Boolean False is the value zero.

We can write a Boolean data type as bool(x).

In [ ]:
#4. What are the values of the following expressions?
(5>4) and (3==5)

False

In [ ]:
(5>4) or (3==5)

True

In [ ]:
not(5>4)

False

In [ ]:
not((5>4) or (3==5))

False

In [ ]:
(True and True) and (True == False)

False

In [ ]:
(not False) or (not True)

True

In [ ]:
# 7. Identify the three blocks in this code:
# Answer: 
# block 1 - if spam == 10: print('eggs')
# block 2 - if spam >5: print('bacon')
# block 3- else: print('ham') print('spam') print('spam')

spam = 0
if spam ==10:
  print('eggs')
if spam >5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

In [ ]:
# 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
spam =[1, 2,3]
for i in spam:
  if i ==1:
    print('Hello')
  if i ==2:
    print('Howdy')
else:
  print('Greetings!')

Hello
Howdy
Greetings!

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

Answer:

Boolean operator's Truth tables:-

**and table**

True and True = True

True and False = False

False and False = False

False and True = False

**or table**

True or True = True

True or False = True

False or True = True

False and False = False

In [ ]:
c = 3
d = 2
d==c

False

5. What are the six comparison operators?

Answer:

The six comparison operators are >, >=, <, <=, ==, !=.

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

Answer:

**Assignment operator** assigns or changes the value of the variable on its left.

Equal to is one of the a relational operator. This operator compares the values of the operands on its either side and determines the relationship among them as True or False.

In [ ]:
x = 10
y = 12

In [ ]:
x == y

False

In [ ]:
a = 20

In [ ]:
b = a
b

20

9.If your programme is stuck in an endless loop, what keys you’ll press?

Answer: 

To end an endless loop, we should press kernel or Ctrl + C.

10. How can you tell the difference between break and continue?

Answer:

The **break statement** alters the normal flow of execution as it terminates the current loop and resumes execution of the statement following that loop. Using break statement, we can come out of the loop forever.

When a **continue statement** is encountered, the control skips the execution of remaining statements inside
the body of the loop for the current iteration and jumps to the beginning of the loop for the next iteration. If the
loop’s condition is still true, the loop is entered again, else the control is transferred to the statement immediately
following the loop. Using continue statement, we can skip some statements of the loop before continuing further in the loop.

In [ ]:
True

True

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Answer:

In Range(10), only the stop value of sequence of integers is mention. In this case, by default the list starts from 0.

In range(0, 10), both start value and stop value of sequence of integers is mention.

In range(0,10,1), both start value and stop value is mention along with the step parameter of a sequence of integers.

In all these cases, the output will be same. It will print all the digit starting from 0 to 9.

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
#for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while loop

a = 1
while a<11:
  print(a)
  a = a+1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Answer:

spam.bacon()